@import url('./reset.css');

:root {
    --dark-grey: #333;
    --light-grey: #f6f4f9;
    --pink: #fca3b9;
    --hotpink: hotpink;
    --yellow: #fcd752;
    --blue: #6184c6;

    --font-small: 12px;
    --font-large: 20px;

    --app-width: 960px;
    --nav-height: 50px;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    padding-top: var(--nav-height);
}

body > header {
    position: fixed;
    top: 0;
    width: 100%;
}

body > main {
    margin: 0 auto;
    max-width: var(--app-width);
}

header {
    background: var(--light-grey);
    height: var(--nav-height);
}

header .inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--app-width);
    width: 100%;
}

.logo {
    width: 35px;
}

h1 {
    font-size: var(--font-large);
}

a.navlink {
    color: var(--dark-grey);
    padding: 8px;
    text-decoration: none;
}

section.page {
    display: none;
}

.cart-icon-wrapper {
    position: relative;
}

.cart-icon {
    width: 30px;
}

.badge {
    align-items: center;
    background: red;
    border-radius: 20px;
    bottom: 8px;
    color: #fff;
    display: flex;
    font-size: var(--font-small);
    height: 20px;
    justify-content: center;
    position: absolute;
    left: -10px;
    width: 20px;
}

.badge[hidden] {
    display: none;
}
