/* -- css reset -- */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}
/* -- css reset -- */

:root {
    --dark-grey: #333;
    --light-grey: #f6f4f9;
    --pink: #fca3b9;
    --hotpink: hotpink;
    --yellow: #fcd752;
    --blue: #6184c6;

    --font-small: 12px;
    --font-large: 20px;

    --app-width: 768px;
    --nav-height: 50px;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    padding-top: var(--nav-height);
}

body > header {
    position: fixed;
    top: 0;
    width: 100%;
}

body > main {
    margin: 0 auto;
    max-width: var(--app-width);
}

header {
    background: var(--light-grey);
    height: var(--nav-height);
}

header .inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--app-width);
    width: 100%;
}

.logo {
    width: 35px;
}

h1 {
    font-size: var(--font-large);
}

a.navlink {
    color: var(--dark-grey);
    padding: 8px;
    text-decoration: none;
}

section.page {
    display: none;
}

.badge {
    background: red;
    border-radius: 15px;
    color: #fff;
    font-size: var(--font-small);
    padding: 4px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 6px;
    width: 10px;
}
